.login {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(185, 182, 182, 0.628);
  padding: 30px;
  border-radius: 4px;
  width: 50%;
  margin: auto;
}

.form-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}

.form-input label {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.74);
}

input {
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.submit-action {
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: rgb(80, 79, 79);
  color: rgb(245, 240, 240);
  cursor: pointer;
}
