.doctors-details-container {
  display: flex;
  gap: 40px;
  width: 80%;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}

.doctors-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctors-main-image {
  width: 100%;
}

.doctors-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.doctors-name {
  font-size: 20px;
  color: #98bf0c;
  font-weight: 700;
  font-family: cursive;
}

.doctors-specialty {
  font-size: 28px;
  color: grey;
  font-family: 'maghrib', monospace;
}

.doctors-desc {
  color: #3a3838;
}

.doctors-details span {
  color: #98bf0c;
}

.doctors-appointment-button {
  border: none;
  background: #98bf0c;
  font-size: 18px;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  margin: 20px auto;
  cursor: pointer;
  align-items: center;
  display: flex;
  outline: none;
}

.doctors-details .social-icon {
  background: #fff;
  padding: 10px;
  border-radius: 100%;
  color: #98bf0c;
  border: 1px solid #98bf0c;
  transition: 0.5s ease-out;
}

.doctors-details .social-icon:hover {
  background: #98bf0c;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .doctors-details-container {
    flex-direction: column;
  }
}
