.doctors-section {
  width: 80%;
  display: flex;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.single-doctor {
  width: 50%;
  background: #98bf0c;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.doctor-image {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 5px solid #fff;
}

.doctor-name {
  font-size: 20px;
}

.doctor-specialty {
  font-family: monospace;
    font-size: 18px;
}

.doctors-section a {
  text-decoration: none;
}

.social-icons {
  display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-icon {
  background: grey;
  padding: 10px;
  border-radius: 100%;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.5s ease-out;
}

.social-icon:hover {
  background: #fff;
  color: grey;
}

@media screen and (max-width: 768px) {
  .doctors-section {
    flex-direction: column;
  }

  .single-doctor {
    width: 90%;
  }
}
