.home-container {
  padding: 90px;
  height: 100vh;
  width: 100%;
  background: #f2f2f2;
  position: fixed;
}

.home-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctora-home-logo {
  width: 180px;
}

.doctora-welcome {
  font-family: cursive;
  font-size: 30px;
  color: grey;
}

.doctora-welcome-info {
  font-size: 25px;
  color: grey;
}

.doctora-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 40px;
}

.doctora-link {
  text-decoration: none;
  border: 2px solid #98bf0c;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  color: #98bf0c;
  transition: 0.5s ease-out;
}

.login-link {
  background: #98bf0c;
  color: #fff;
}

.login-link:hover {
  color: #98bf0c !important;
  border: 2px solid #98bf0c;
  background: none !important;
}

.doctora-link:hover {
  background: #98bf0c;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 90px 0;
    height: 100vh;
    width: 100%;
  }
}
