.navbar {
  color: black;
  width: 25%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  left: -16%;
  transition: 950ms;
  align-items: inherit;
}

.navbar.active {
  left: 0;
  transition: 350ms;
}

.navbar-menu {
  width: 75%;
  background: #1c1c1c12;
  border-right: 2px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu-logo {
  margin: 40px auto;
  text-align: center;
}

.navbar-toggle {
  width: 20%;
}

.navbar-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-button {
  background: none;
  border: none;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.toggle-icon {
  color: #fff;
}

.navbar-main-menu {
  color: black;
}

.navbar-toggler {
  background: #98bf0c;
  bottom: 0;
  position: fixed;
  width: 60px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  height: 50px;
  cursor: pointer;
}

.navbar-footer {
  width: 70%;
}

.navbar-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-links {
  background: none;
  border: none;
  color: #5c5959;
  cursor: pointer;
}

.copyright {
  color: #5c5959;
  font-size: 10px;
  text-align: center;
}